.fc{
    &-view{
        &-harness{
            height: 100vh !important;
            
        }
    }
    &-col{
        &-header{
            width: 100% !important;
        }
    } 
    &-scrollgrid{
        &-sync{
            &-table{
                height: 100% !important;
                width: 86vw !important;
            }
        }
    }
}