$color-primary: #4865FF;
$color-secondary: #42D963;
$color-white: #eff0fa;
$color-alert: #ff4e48;

$background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(72,101,255,1) 100%);

*{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}